.header {
  @include grid-row($collapse: true);
  margin-bottom: 1em;


  .title {
    font-size: 6.25em;
    margin-bottom: 0;
    text-align: center;
    background-color: $base-font-color;
    color: white;
    padding-bottom: 0.5em;

    small {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.75em;
      line-height: 1.5;
    }

    a {
      color: white;

      &.contact {
        margin: 0 0.75em;
      }
    }
  }

  .description li {
    padding: $small-spacing;
    border-bottom: $base-border;
  }

  @media #{$small} {
    display: flex;

    .description {
      @include grid-column($columns: 6);
    }

    .title {
      @include grid-column($columns: 6, $collapse: true);

    }
  }
}

.example {

  .row {
    @include grid-row;
    background-color: $medium-gray;
    margin-bottom: 1em;
  }

  .content {
    background-color: $light-gray;
    display: block;
    margin-bottom: em(2);
    margin-top: em(2);
    line-height: 10em;
    white-space: nowrap;
    text-align: center;
  }

  [class^="col-"] {
    @include grid-column($columns: 12);
    border-left: $base-border;
    border-right: $base-border;
  }

  .col-2 {

    @media #{$small} {
      @include grid-column($columns: 6);
    }
  }

  .col-3 {

    @media #{$small} {
      @include grid-column($columns: 4);
    }
  }

  .col-4 {

    @media #{$small} {
      @include grid-column($columns: 3);
    }
  }

  .col-6 {

    @media #{$small} {
      @include grid-column($columns: 2);
    }
  }

  .col-12 {

    @media #{$small} {
      @include grid-column($columns: 1);
    }
  }

  .col-2-center {

    @media #{$small} {
      @include grid-column($columns: 6, $center: true);
    }
  }
}

@media #{$screen} {}

@media #{$small} {}

@media #{$medium} {}

@media #{$large} {}

@media #{$landscape} {}

@media #{$portrait} {}
