// Example Styles
// =======================================

.header {
  @include grid-row();
  font-size: $small-font-size;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin-bottom: 0;
  max-width: 1100px;
  padding: $base-spacing $base-spacing 0;

  .title {
    float: left;
    margin-bottom: 0;
  }

  .logo {
    display: block;
    margin-right: $base-spacing;
    margin-top: 5px;
    width: 157px;
  }
  a {
    color: $base-font-color;
    float: left;
    padding: $base-spacing;

    &:hover {
      color: $action-color;
    }
  }
}

.hero {
  color: $alt-font-color;
  text-align: center;
  margin: 80px 60px 40px;

  h2 {
    margin-bottom: $large-spacing;
  }
}

.example {

  .section-title {
    @include grid-row($max-width: null);
    line-height: 4;
    text-align: center;
    white-space: nowrap;
  }

  .row {
    @include grid-row();
    background-color: $medium-gray;
    margin-bottom: $base-spacing;
  }

  .content {
    background-color: $light-gray;
    display: block;
    line-height: 6em;
    text-align: center;
    white-space: nowrap;
  }

  .content-label {
    color: $base-background-color;
    display: block;
    font-family: $monospace-font-family;
    line-height: 1.5em;
    padding: 3px 0;
    text-align: center;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;

    &::after {
      border-color: $light-gray;
      border-style: solid;
      border-width: 1px 1px 0;
      content: "";
      display: block;
      height: 1.5em;
      margin: 0 3px;
    }
  }

  [class^="col-"] {
    border-left: $base-border;
    border-right: $base-border;
  }

  .col-12 {

    @media #{$small} {
      @include grid-column($columns: 12);
    }
  }

  .col-6 {

    @media #{$small} {
      @include grid-column($columns: 6);
    }
  }

  .col-6-center {

    @media #{$small} {
      @include grid-column($columns: 6, $center: true);
    }
  }

  .col-6-collapse {

    &:last-child {
      border-right: 0;
    }

    @media #{$small} {
      @include grid-column($columns: 6, $collapse: true);
    }
  }

  .col-4 {

    @media #{$small} {
      @include grid-column($columns: 4);
    }
  }

  .col-3 {

    @media #{$small} {
      @include grid-column($columns: 3);
    }
  }

  .col-2 {

    @media #{$small} {
      @include grid-column($columns: 2);
    }
  }

  .col-1 {

    @media #{$small} {
      @include grid-column($columns: 1);
    }
  }

  .col-5-push {

    @media #{$small} {
      @include grid-column($columns: 5);
      @include grid-push($push: 2);
    }
  }

  .col-4-shift-1 {

    @media #{$small} {
      @include grid-column($columns: 5);
      @include grid-shift($shift: 5);
    }
  }

  .col-4-shift-2 {

    @media #{$small} {
      @include grid-column($columns: 5);
      @include grid-shift($shift: -5);
    }
  }

  .col-2-of-5 {
    @media #{$small} {
      @include grid-column($columns: 2 of 5);
    }
  }

  .col-3-of-5 {
    @media #{$small} {
      @include grid-column($columns: 3 of 5);
    }
  }
}

@media #{$screen} {}

@media #{$small} {}

@media #{$medium} {}

@media #{$large} {}

@media #{$landscape} {}

@media #{$portrait} {}
