// Create default and collapsed rows

@mixin grid-row(
    $center: true,
    $max-width: $row-width
  ) {

  $max-width: if($max-width, $max-width, none);

  @include grid-column($collapse: true, $center: $center);
  @include clearfix;
  max-width: $max-width;
}
