// Specifies the number of columns an element should span.

@mixin grid-column(
    $columns: false,
    $collapse: false,
    $center: false
  ) {

  @if $columns {
    // If a column number is given, calculate the column width
    width: grid-calc($columns, $total-columns);
  }

  @if $collapse == none {
    // Use $collapse: none to avoid defining padding
  } @else if $collapse {
    // If collapsed, remove of gutter padding
    padding-left: 0;
    padding-right: 0;
  } @else if $collapse == false {
    // Add gutter padding by default
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  @if $center {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    float: none !important;
  } @else {
    float: $default-float;
  }
}
