// Specifies the number of columns an element should span.

@mixin grid-column(
    $columns: false,
    $collapse: false,
    $center: false
  ) {
  @include grid-gutter($collapse: $collapse, $center: $center);
  float: if($center, none, $default-float);
  width: grid-calc($columns, $collapse);
}
