// Calculates the width of a column for grid-column() and other mixins

@function grid-calc(
    $columns,
    $collapse: false
  ) {
  $_column-ratio: grid-column-ratio($columns);

  @if $collapse {
    $_grid-gutter-affordance: (-$grid-gutter) + ($grid-gutter * $_column-ratio);
    @return unquote("#{percentage($_column-ratio)} - #{$_grid-gutter-affordance}");
  } @else {
    $_grid-gutter-affordance: $grid-gutter + ($grid-gutter * $_column-ratio);
    @return unquote("#{percentage($_column-ratio)} - #{$_grid-gutter-affordance}");
  }
}
