// Grid Styles
// ============================================================

*, *:before, *:after {
  box-sizing: border-box;
}

// Grid Variables

$row-width: 64rem !default;
$column-gutter: 1.875rem !default;
$total-columns: 12 !default;
