// Grid Styles
// ============================================================

*, *:before, *:after {
  box-sizing: border-box;
}

// Grid Variables

$row-width: rem(1000) !default;
$column-gutter: rem(30) !default;
$total-columns: 12 !default;

// Grid-Calc Function

@function grid-calc($colNumber, $totalColumns: $total-columns) {
  @return percentage($colNumber / $totalColumns);
}
