// GridA Settings
// ============================================================

// ========= Grid Variables =========

$text-direction: ltr;

@if $text-direction == ltr {
  $default-float: left !global;
  $opposite-direction: right !global;
} @else if $text-direction == rtl {
  $default-float: right !global;
  $opposite-direction: left !global;
}

$row-width: 80rem;
$column-gutter: 1.25rem;
$total-columns: 12;

// ========= Media Queries =========

$small-screen: 768px !default;
$medium-screen: 1280px !default;
$large-screen: 1440px !default;

$screen: "only screen" !default;
$small: "only screen and (min-width: #{$small-screen})" !default;
$medium: "only screen and (min-width:#{$medium-screen})" !default;
$large: "only screen and (min-width:#{$large-screen})" !default;
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;
