---
title: Cask | Examples
---

%header.header
  %h1.title
    Cask
%main.example
  .row
    .col-1
      .content
  .row
    .col-2
      .content
    .col-2
      .content
  .row
    .col-3
      .content
    .col-3
      .content
    .col-3
      .content
  .row
    .col-4
      .content
    .col-4
      .content
    .col-4
      .content
    .col-4
      .content
  .row
    .col-6
      .content
    .col-6
      .content
    .col-6
      .content
    .col-6
      .content
    .col-6
      .content
    .col-6
      .content
  .row
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
    .col-12
      .content
  .row
    .col-3-center
      .content
